@media only screen and (min-width: 35rem) {
    nav button {
        display: flex;

    }



    .responsive {
        width: 100%;
        height: auto;
    }

    .responsiveBtn {
        position: absolute;
        right: 5px;
        bottom: 90px;
        height: auto;
    }


}