/* COLORS 
 https://coolors.co/e5f4e3-5da9e9-003f91-ffffff-6d326d 
 -- honeydew - Green              #e5f4e3; 
 -- blue-jeans - light Blue       #5da9e9; 
 -- dark-cornflower - Flyer Blue: #003F91; 
 -- white - Flyer White           #ffffff;
 -- midnight  Purple              #6d326d;  */

/* FONTS */
/* font-family: PARAGRAPH 'Radio Canada', sans-serif; 
   font-family: HEADINGS 'Ubuntu', sans-serif; */

/* small size veiw like phones  */

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Radio Canada', sans-serif;
    max-width: 1200px;
    margin: auto;
}

header {

    border: 3px solid #003F91;
    background-color: #ffffff;

}

/* #header_top {
    display: grid;
} */

header p {
    text-align: center;
    background-color: #003F91;
    color: #ffffff;
    padding: 6px;
    margin-bottom: 8px;
    /* width: 200px; */

}

/* header section p {} */

header picture {

    display: flex;
    /* grid-column: 1;
    grid-row: 1; */

}

header section {
    margin: auto;
}

#header-top {
    color: #003F91;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 140px 80px;

}

.logo {
    grid-column: 1;
    grid-row: 1;
}

.town {
    grid-column: 2;
    grid-row: 1;
}

/* .social {
    margin-right: 1.5rem;
} */

.social svg {
    width: 25px;
    height: auto;
}

.social {
    float: right;
    margin: 8px;
}


h1 {
    margin: 10px 0px 5px 0px;
    color: #003F91;
    text-align: center;
}

h2 {
    color: #003F91;
    text-align: center;
}

nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #ffffff;
}

nav {
    background-color: #5da9e9;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#primaryNav li:first-child {
    display: block;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #003f91;
}

nav ul li.active a {
    background-color: #003f91;
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    /* direction: row; */
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn {
    grid-column: 1;
    grid-row: 2;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    position: relative;

}

#container div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 24px;
    color: #003F91;
    border: 1px solid #003F91;
}

.hero {
    grid-area: 1 / 1 / span 2 / span 2;
    order: 1;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
}

div .hero img {
    width: 100%;
    height: auto;
}

#container div .topleft {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 22px;
    background-color: unset;
    border: none;
}

#container div .hero-bottom {
    background-color: #ffffff;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    bottom: 22px;
    right: 16px;
}

.newreleases {
    grid-area: 2 / 1 / span 2 / span 2;
    order: 4;
    height: 100%;
}

.newreleases h2 {
    border-bottom: #003F91 1px dotted;
    padding: 10px;
    text-align: center;
}

.newreleases p {
    padding: 10px;
    text-align: center;
}

#container .event {

    order: 2;
    width: 100%;
    text-align: center;
    line-height: 3rem;
}

#container .event img {
    float: left;
    margin: 15px;
    margin-left: 30px;
    width: 80px;
    height: auto;

}

#container .event ul {
    list-style: none;
}

.event li {
    height: 25px;
}

/* li {
    margin-left: 20px;
} */

.spotlights {
    grid-area: 5 / 1 / span 2 / span 2;
    order: 5;
    height: 100%;
}

.weather {
    grid-area: 3 / 1 / span 2 / span 2;
    order: 3;
    width: 320px;
    border-radius: 8px;
}

.weather h2 {
    border-bottom: #003F91 1px dotted;
    text-align: center;
    padding: 10px;
}

.weather img {
    width: 80px;
    height: auto;
    border-radius: 5px;
    float: right;

}

.weather p {
    text-align: center;
    padding: 2px;

}

.what-weather-doing p {
    height: 40px;
    background-color: rgb(252, 249, 245);
    padding: 10px;
    text-align: left;
}

.what-weather-doing {
    border-radius: 10px;
    font-size: 18px;
}

.join {
    display: none;
}

.spotlightbox1 {
    height: 100%;
}

.spotlightbox1 img {
    width: 110px;
    float: right;
    margin-top: 15px;
}

.spotlightbox1 h2 {
    width: fit-content;
    text-align: left;
}

.spotlightbox1 p {
    padding: 10px;
    text-align: left;
}

.spotlightbox2 {
    height: 270px;
}

.spotlightbox2 img {
    width: 110px;
    height: auto;
}

.spotlightbox2 picture {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.spotlightbox2 ul {
    list-style: none;
}

.spotlightbox2 li {
    padding: 10px;
}

.spotlightbox2 p {
    text-align: center;
    margin-top: 10px;
}

.spotlightbox3 {
    height: 200px;
    display: none;
}

footer {
    border: 3px solid #003F91;
    text-align: center;
    background-color: #003F91;
    color: #ffffff;
    padding: 20px;
}

footer a {
    color: #ffffff;
}

footer section {
    padding: 10px;

}

footer div:nth-child(1) {
    border-top: 1px #ffffff solid;
    border-bottom: 1px #ffffff solid;
    display: inline-block;
}

footer img {
    padding-top: 15px;
}

footer p {
    padding-top: 10px;
}

#discovery {
    width: 1100px;
    background-color: #2196F3;
    color: #ffffff;
    margin: 20px auto;
    padding: 10px;
    font-size: 28px;

}

#discovery p::first-letter {
    font-size: 300%;

}

.linksdiscovery a {
    background-color: #003F91;
    color: #ffffff;
    height: 50px;

    float: left;
    padding: 10px;
}

.linksdiscovery li {
    list-style-type: none;

}

.storylinks {
    -webkit-text-stroke-width: medium;

    padding: 10px;
    width: 550px;
    height: 50px;
}

.museum {
    display: grid;

}

.joinLandingPage {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #5da9e9;
}

#membershipSelect {
    padding: 10px;
    margin: 12px;
}

.joinMemberships {
    background-color: #ffffff;
    color: #003F91;
    border: 3px solid black;
    border-radius: 10px;
    margin: 12px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    height: 440px;
}

.joinMemberships p {
    padding: 5px;

}

.bronzesilvergold {
    display: flex;
    justify-content: center;
}

.joinform {
    background-color: #ffffff;
    padding: 10px;
}

.price {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-weight: 900;

}

.discounts {
    position: absolute;
    bottom: 55px;
    width: 100%;
}

.joinform {
    width: 600px;
    border: 4px black double;
    columns: 2 /3;
    margin: 12px;
    border-radius: 10px;
}

.forms {
    padding: 10px;
}

.bizinfo {
    width: 100%;
    height: 150px;
    padding: 12px;
}

.submit {
    padding: 20px;
    font-size: 1.25rem;
    border-radius: 10px;

}