@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: Acme, Arial, sans-serif;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

main {
    margin: 0.5rem auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    background-color: #bed;
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;

}

input,
button {
    padding: 0.35rem;
    margin-left: 1rem;
    font-size: 1.1rem;
}

ul button {
    color: red;
    font-weight: 800;
    font-size: 30px;
    width: 56px;
}

input {
    width: 200px;
}

label {
    font-size: 1.10rem;

}

.listcontainer {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    font-size: 30px;
}

.list {
    margin: 0.2rem;

}

ul {
    margin: 1rem;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

footer {
    border: 1px dotted green;
    width: 540px;
    text-align: center;
    padding: 10px;
}

@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2rem;
    }

    main {
        width: 540px;
    }
}